<div class="parent">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit(signUpForm.value)"
    class="child"
  >
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="signUpForm.get('email').invalid">
          {{ validationService.getFieldErrorMessage(signUpForm, "email") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="signUpForm.get('password').invalid">
          {{
            validationService.getFieldErrorMessage(
              signUpForm,
              "password",
              minFieldLength["password"]
            )
          }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmedPassword" type="password" />
        <mat-error *ngIf="signUpForm.get('confirmedPassword').invalid">
          {{
            validationService.getFieldErrorMessage(
              signUpForm,
              "confirmedPassword"
            )
          }}
        </mat-error>
      </mat-form-field>
      <mat-error>{{
        validationService.getFieldErrorMessage(signUpForm)
      }}</mat-error>
    </div>
    <div style="text-align: center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signUpForm.valid"
      >
        Sign Up
      </button>
    </div>
    <div style="margin-top: 10px">
      <a style="float: left" mat-button routerLink="/restore-password">
        Forgot password
      </a>
      <a style="float: right" mat-button routerLink="/sign-in">Sign In</a>
    </div>
  </form>
</div>
