<div class="parent">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit(signUpForm.value)"
    class="child"
  >
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="signUpForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="signUpForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="add-debtor-field" style="width: 100%">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmedPassword" type="password" />
        <mat-error *ngIf="signUpForm.get('confirmedPassword').invalid">{{getConfirmedPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!signUpForm.valid"
      >
        Sign Up
      </button>
    </div>
    <div style="margin-top: 10px">
      <!-- <a mat-button href="https://www.google.com/" target="_blank">Link</a> -->
      <a style="float: left" mat-button routerLink="/restore-password"
        >Forgot password</a
      >
      <a style="float: right" mat-button routerLink="/sign-in">Sign In</a>
    </div>
  </form>
</div>
