.debtors-list{
    width: 100%;
}
.add-debt-fab{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.debtor-row{
    cursor: pointer;
}
.debtor-row:hover{
    background-color: #ff408050;
}
.debtor-row:active{
    background-color: #ff40809d;
}