<div *ngFor="let option of data | async">{{option}}</div>
<form [formGroup]="formGroup">
    <mat-form-field class="w-100">
      <input type="text"
        placeholder="Type the name"
        aria-label="Number"
        matInput
        formControlName="control"
        class="debt-search-input"
      >
      <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete> -->
    </mat-form-field>

    <mat-card *ngFor="let debt of debts | async" class="card" routerLink="/debts/{{debt.id}}">
      <h2><mat-icon>person</mat-icon>Name: <span>{{debt?.name}}</span></h2>
      <h2><mat-icon>attach_money</mat-icon>Debt: <span>{{debt?.debt}}</span></h2>
      <h2 *ngIf="debt?.loanDate"><mat-icon>calendar_today</mat-icon>Loan Date: <span>{{debt?.loanDate?.toDateString()}}</span></h2>
      <h2 *ngIf="debt?.paymentDate"><mat-icon>calendar_today</mat-icon>Payment Date: <span>{{debt?.paymentDate?.toDateString()}}</span></h2>
    </mat-card>
    <!-- <pre> -->
      <!-- {{shownDebts}} -->
    <!-- </pre> -->
  </form>