<div class="content">
  <h1>Add debtor</h1>
  <form [formGroup]="addDebtForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="add-debtor-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="addDebtForm.get('name').invalid">
          {{ validationService.getFieldErrorMessage(addDebtForm, "name") }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="add-debtor-field">
        <mat-label>Debt</mat-label>
        <input matInput formControlName="debt" type="number" />
        <mat-error *ngIf="addDebtForm.get('debt').invalid">{{
          validationService.getFieldErrorMessage(addDebtForm, "debt")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="add-debtor-field">
        <mat-label>Loan date</mat-label>
        <input
          matInput
          [matDatepicker]="loanDatePicker"
          formControlName="loanDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="loanDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #loanDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="add-debtor-field">
        <mat-label>Payment date</mat-label>
        <input
          matInput
          [matDatepicker]="paymentDatePicker"
          formControlName="paymentDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="paymentDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #paymentDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!addDebtForm.valid"
    >
      Add
    </button>
  </form>
</div>
